.introContainer{
    display: flex;
    justify-content:space-around;
    padding-top: 240px;
}
.domainInfo{
    display: flex;
    justify-content: left;
    gap: 5%;
}
.domainTxt{
    color: var(--tc1);
    font-family: var(--PortFontRegular);
    font-size: 40px;
}
.domainAni{
    color: var(--tc4);
    font-family: var(--PortFontBold);
    font-size: 25px;
    background-color: var(--tc1);
    padding: 10px;
    width: fit-content;
    animation-name: domainAnimation;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}
@keyframes domainAnimation {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    30%{
        opacity: 1;
        transform: translateY(0px);
    }
    95%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-50px);
        opacity: 0;
    }
}