.introContainer{
    display: flex;
    justify-content:space-around;
    padding-top: 130px;
}
.domainInfo{
    display: flex;
    justify-content: left;
    gap: 5%;
}
.domainTxt{
    color: var(--tc1);
    font-family: var(--PortFontLight);
    font-size: 50px;
}
.domainAni{
    color: var(--tc4);
    font-family: var(--PortFontBold);
    font-size: 25px;
    background-color: var(--tc1);
    padding: 10px;
    width: fit-content;
    text-align: center;
    height: fit-content;
    animation-name: domainAnimation;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}
.greetings1{
    color:var(--tc2);
    font-family:var(--PortFontEBold);
    font-size:70px;
}
.greetings2{
    color:var(--tc1);
    font-family:var(--PortFontLight);
    font-size:50px;
}
.devIllustration{
    max-width: 500px;
}
@media screen and (max-width: 1050px) {
    .introContainer{
        flex-direction: column;
        align-items: center;
        padding-top: 170px;
        gap: 20px;
    }
    .introduction{
        width: 100%;
    }
    .domainTxt{
        font-size: 40px;
    }
    .domainAni{
        font-size: 20px;
    }
    .domainInfo{
        justify-content: center;
    }
    .greetings{
        text-align: center;
    }
}
@media screen and (max-width: 710px) {
    .introContainer{
        padding-top: 120px;
    }
    .greetings1{
        font-size: 50px;
    }
    .greetings2{
        font-size: 40px;
    }
    .domainTxt{
        font-size: 30px;
    }
    .domainAni{
        font-size: 15px;
    }
}
@media screen and (max-width: 510px) {
    .greetings1{
        font-size: 40px;
    }
    .greetings2{
        font-size: 30px;
    }
    .domainTxt{
        font-size: 20px;
    }
    .domainAni{
        font-size: 10px;
    }
}
@media screen and (max-width: 350px) {
    .introContainer{
        padding-top: 90px;
    }
    .greetings1{
        font-size: 30px;
    }
    .greetings2{
        font-size: 20px;
    }
    .domainTxt{
        font-size: 12px;
    }
    .domainAni{
        font-size: 10px;
    }
}
@keyframes domainAnimation {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    30%{
        opacity: 1;
        transform: translateY(0px);
    }
    95%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-50px);
        opacity: 0;
    }
}