.achTitle{
    color: var(--tc2);
    font-size: 50px;
    font-family: var(--PortFontEBold);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.achDisc{
    color: var(--tc2);
    font-family: var(--PortFontRegular);
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.achListSec{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 90px;
}
.achievementsContainer{
    padding-top: 100px;
}
.achCardContainer{
    max-width: 350px;
    padding: 20px 10px 20px 10px;
    border: 1px solid var(--tc1);
    border-radius: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.achCardHeader{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.achCardPlatLogo{
    width: 30%;
}
.achCardProfileInfo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.achCardPlatName a{
    color: var(--tc2) ;
    font-family: var(--PortFontBold);
    font-size: 30px;
    text-decoration: underline;
}
.achCardPlatName a:hover{
    color: var(--tc3);
}
.achCardPlatStats{
    color: var(--tc1);
    font-family: var(--PortFontRegular);
    font-size: 17px;
}
.achCardAchList{
    color: var(--tc2);
    font-family: var(--PortFontLight);
    letter-spacing: 0.5px;
    font-size: 20px;
}
@media screen and (max-width: 830px){
    .achCardContainer{
        max-width: 300px;
        margin-bottom: 30px;
    }
    .achTitle{
        font-size: 30px;
    }
    .achDisc{
        font-size: 15px;
    }
    .achievementsContainer{
        padding-top: 80px;
    }
    .achCardPlatLogo{
        width: 20%;
    }
    .achCardPlatName a{
        font-size: 20px;
    }
    .achCardPlatStats, .achCardAchList{
        font-size: 15px;
    }
}
@media screen and (max-width: 575px) {
    .achListSec{
        flex-direction: column;
        align-items: center;
    }
}