.EduSection{
    padding-top: 100px;
}
.eduContainer{
    background-color: var(--tc1);
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
}
.eduTitle{
    text-align: center;
    font-family: var(--PortFontEBold);
    color: var(--tc4);
    font-size: 50px;
    padding-bottom: 30px;
}
.eduCardUniIntro{
    display: flex;
    gap: 5%;
    padding-left: 2%;
}
.eduCardUniLogo{
    width: 150px;
}
.eduCardUniNameBranch{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.eduCardUniName{
    font-family: var(--PortFontBold);
    font-size: 30px;
}
.eduCardUniBranch, .eduCardUniduration{
    font-family: var(--PortFontRegular);
}
.flexSec1{
    display: flex;
    align-items: center;
    gap: 160px;
    padding-right: 20px;
}
.eduCardUniCourses{
    margin-top: 30px;
    margin-left: 17% ;
}
.eduCardUniCoursesTitle{
    font-family: var(--PortFontBold);
    font-size: 18px;
}
.eduCardUniCourseslist{
    font-family: var(--PortFontRegular);
    font-size: 18px;
}
@media screen and (max-width: 1300px) {
    .flexSec1{
        gap: 80px;
    }
}
@media screen and (max-width: 970px) {
    .flexSec1{
        flex-direction: column;
        align-items: start;
        gap: 0px;
        padding-right: 0px;
    }
}
@media screen and (max-width: 670px) {
    .eduTitle{
        font-size: 40px;
    }
    .eduCardUniName{
        font-size: 20px;
    }
    .eduCardUniBranch, .eduCardUniduration, .eduCardUniCourseslist, .eduCardUniCoursesTitle{
        font-size: 15px;
    }
}
@media screen and (max-width: 610px) {
    .eduCardUniIntro{
        flex-direction: column;
        align-items: center;
        padding-right: 2%;
    }
    .eduCardUniLogo{
        width: 100px;
    }
    .eduCardUniName, .eduCardUniBranch{
        text-align: center;
    }
    .flexSec1{
        align-items: center;
    }
}