.navContainer{
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
}
.navBar{
    padding-right: 30px;
    height: 70px;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.navLogo{
    color: var(--tc1);
    font-family: var(--PortFontBold);
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    margin-left: 8%;
    width: fit-content;
}
.navButton{
    width: fit-content;
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 20px;
    font-family: var(--PortFontLight);
    letter-spacing: 2px;
}
.navButton a:hover{
    color: var(--tc1) !important;
    text-decoration: underline;
}
.HamburgerContainer{
    display: none;
    padding-top: 10px;   
}
.hamMenuList{
    display: none;
    list-style: none;
    font-family: var(--PortFontLight);
    background-color: var(--bg);
    padding-left: 20px;
    padding-right: 20px;
}
.hamMenuList ul{
    padding-left: 0;
}
.hamMenuList ul li{
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.hamMenuList ul li:hover{
    background-color: var(--tc3);
}
@media screen and (max-width: 940px) {
    .navButton{
        display: none;
    }
    .HamburgerContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}