@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    --bg: #0B0C10;
    --tc1: #66FCF1;
    --tc2: #C5C6C7;
    --tc3: #45A29E;
    --tc4: #1F2833;
    background-color: var(--bg);
}
a{
    text-decoration: none;
}
.Container{
    width: 100%;
}